<div class="container-fluid" ng-controller="postController" ng-init="init()">
    <div class="row">
        <div class="col-md-12">
            <h1 class="page-header">
                Posts
                <div class="pull-right">
                    <a ui-sref="postCreate" class="btn btn-sm btn-default"><i class="fa fa-plus"></i></a>
                </div>
            </h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Posts
                    <div class="pull-right" style="margin-top: -5px;">
                        <form name="form" novalidate ng-submit="onChangeSearchKey()">
                            <input type="text" class="form-control input-sm" placeholder="Search" ng-model="search.key">
                        </form>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th class="col-5">#</th>
                                <th class="col-15">Date</th>
                                <th>Title</th>
                                <!--<th class="col-20">Reading Speed</th>-->
                                <th class="col-5">
                                    <select class="form-control" ng-model="filter.type" ng-options="type.value as type.text for type in [{text: 'Posts', value: 'post'}, {text: 'Pages', value: 'page'}]" style="height: inherit;">
                                        <option value="">All</option>
                                    </select>
                                </th>
                                <th class="col-5"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="post in filteredResults">
                                <td>{{$index + 1}}</td>
                                <td>{{post.date | date : 'yyyy-MM-dd'}}</td>
                                <td>
                                    <a ui-sref="postDetails({postId: post.id})">{{post.title}}</a><br>
                                    <span ng-repeat="tag in post.tags">#{{tag.name}} </span>
                                </td>
                                <!--<td>{{post.readingSpeed + ' / ' + (post.numWords > 1 ? (post.numWords | number) + ' words' : (post.numWords | number) + ' word')}}</td>-->
                                <td>
                                    <span class="label" ng-class="{'label-primary': post.isStaticPage == '1', 'label-success': post.isStaticPage == '0'&& post.isPublished == '1', 'label-default': post.isStaticPage == '0' && post.isPublished == '0'}">{{post.isStaticPage == '1' ? 'Static Page' : (post.isPublished == '1' ? 'Published' : 'Unpublished')}}</span>
                                </td>
                                <td class="text-right">
                                    <button type="button" class="btn btn-xs btn-danger" ng-click="delete(post)"><i class="fa fa-times"></i></button>
                                </td>
                            </tr>
                            <tr ng-show="filteredResults.length == 0">
                                <td colspan="5" class="text-center">There's no post yet!</td>
                            </tr>
                            <tr ng-if="count.fetched < count.total">
                                <td colspan="5" class="text-center"><button type="button" class="btn btn-default btn-sm" ng-click="loadMore()">Load more</button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
