<div class="container-fluid" ng-controller="tagController" ng-init="init()">
    <div class="row">
        <div class="col-md-12">
            <h1 class="page-header">
                Tags
                <div class="pull-right">
                    <a ui-sref="tagCreate" class="btn btn-sm btn-default"><i class="fa fa-plus"></i></a>
                </div>
            </h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Tags
                    <div class="pull-right" style="margin-top: -5px;">
                        <form name="form" novalidate ng-submit="onChangeSearchKey()">
                            <input type="text" class="form-control input-sm" placeholder="Search" ng-model="search.key">
                        </form>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th class="col-5">#</th>
                                <th>Name</th>
                                <th class="col-5"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="tag in tags">
                                <td>{{$index + 1}}</td>
                                <td>
                                    <a ui-sref="tagDetails({tagId: tag.id})">{{tag.name}}</a>
                                </td>
                                <td class="text-right">
                                    <button type="button" class="btn btn-xs btn-danger" ng-click="delete(tag)"><i class="fa fa-times"></i></button>
                                </td>
                            </tr>
                            <tr ng-show="tags.length == 0">
                                <td colspan="5" class="text-center">There's no tag yet!</td>
                            </tr>
                            <tr ng-if="count.fetched < count.total">
                                <td colspan="5" class="text-center"><button type="button" class="btn btn-default btn-sm" ng-click="loadMore()">Load more</button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

